<div class="row">
  <div class="col-md-6">
    <header>
      <nav class="navbar navbar-default navbar-fixed-top ">
          <ul id=nav class="nav navbar-nav">
            <li><a class="navbar-brand" href="#Chap1">Acceuil</a></li>
            <li><a class="navbar-brand" href="#Chap2">Offres</a></li>
            <li><a class="navbar-brand" href="#Chap3">Contact</a></li>
            <li><a class="navbar-brand" href="#Chap4">Evenements</a></li>
          </ul>
        </nav>
    </header>

  </div>
</div>
