html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8")
  body
    div(class="container-fluide")
      div(class="row")
        div(class="col-md-12 photo")
          div(class="hidde")
          div(class="row")
            div(class="col-md-8 black")
              img(class="mec" src="team-2.jpg" alt="")
            div(class="col-md-4 white")
              form(action="/create" method="post")
                img(class="pp" alt="Flavien Medina" class="img UFIActorImage _54ru img" src="pp.jpg")
                input(type="text" name="p1" value="" placeholder="Votre commentaire...")
              each val in data
                div(class="coms")
                  img(class="pp" alt="Flavien Medina" class="img UFIActorImage _54ru img" src="pp.jpg")
                  p Flavien Medina
                  input.rep(value='#{val}' readonly)
