body {
  background-color: #F5F5F5;
  margin: auto;
}
.conteneur{
  position: relative;
  max-width: 500px;
text-align: center;
margin: 0 auto;
}
.item,.container{
  position: relative;
}
h1 {
  font-size: 100px;
  color: #EAD7D7;
  font-family: sans-serif;
  font-weight: 100;
  margin-bottom: 30px;
}
#input, .reponse,.irep {
  padding: 15px 140px 15px 40px;
  font-size: 25px;
  color: grey;
}
.tog{
  position: absolute;
  margin: 5% 0 0 1%;
}
.toggle{
  position: absolute;
  margin: 5% 0 0 -49%;
}
.hidden {
  display: none;
}
.hidde {
  display: none;
}
.rayer{
  text-decoration: line-through;
}
.destroy{
  position: absolute;
  background: transparent;
  transition: color 0.2s ease-out;
  color: #cc9a9a;
  border: none;
  font-size: 20px;
  margin: 4% 0 0 44%;
}
.destroy::after{
  content: 'x';
}
.destroy:hover{
  color: #af5b5e;
}
.destroy:focus{
outline: none;
}
.white{
  border-radius: 3px;
  background: white;
  height: 45px;
}
.supr{
  position: absolute;
left: 75%;
top: 105%;
color: #A4A7A7;
}
.n
{
  position: absolute;
left: 3%;
top: 105%;
color: #A4A7A7;
}
