* {
  margin: 0 auto;
}
body {
  font-family: sans-serif;
}
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/bg2.jpg');
  height: 609px;
  background-position: 0;
  color: white;
}

/*TOP*/

.container {
  color: #5C6972;
  height: 50px;
}
.logo,.app {
  display: inline-flex;
  margin: 1% 0 0 5%;
}
.logo:hover{
  color: #4A95CF;
  border-bottom: 3px solid #4A95CF;
}
.logoi {
  padding-bottom: 10px;
  position: absolute;
  margin-left: -16px;
}
.accueil {
  margin: 5px 0 0 8px;
    padding-bottom: 9px;
}
.app {
  margin: 5px 0 0 35px;
}
.lang {
  float: right;
  margin: 17px 8% 0 0;
}

/*TOP*/


/*texte welcome*/

.texte {
  /*container*/
  text-align: center;
  float: left;
  margin: 5% 0 0 20%;
}
.title {
  font-size: 45px;
}
.texte-child {
  margin: 0;
  font-size: 20px;
  text-align: initial;
  max-width: 468px;
}

/*texte welcome*/


/*Connexion1*/

.Connexion {
  background: white;
  border-radius: 5px;
  text-align: justify;
  float: right;
  margin: -160px 10% 0 20%;
  padding: 5px;
}
.Connexion input:not(#remember) {
  padding: 9px;
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.mail {
  /*input mail*/
  width: 70%;
}
.remember {
  /*texte remember*/
  color: #5C6972;
}
#remember {
  /*checkbox */
  margin: 10px;
}
.mdp {
  /*texte mdp*/
  color: #4A95CF;
}
.mdp:hover {
  text-decoration: underline;
}
.bouton {
  color: white;
  border: 1px solid #3B88C3;
  background: #4A95CF;
}

/*Connexion1*/


/*Connexion2*/

.Connexion2 {
  width: 27%;
  background: white;
  border-radius: 5px;
  text-align: justify;
  float: right;
  margin: 15px 10% 0 20%;
  padding: 5px;
}
.label {
  font-weight: normal;
  margin-top: 10px;
  text-align: center;
  font-size: 19px;
  color: #66757f;
  margin-bottom: -5px;
}
.gras {
  color: #292f33;
}
.name {
  /*input name*/
}
.mail2 {
  /*input mail*/
  width: 70%;
}
.mdp2 {
  /*texte mdp*/
  color: #4A95CF;
}
.name, .mail2, .pass2, .bouton2 {
  padding: 9px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  height: 10px;
  width: 90%;
  border: 1px solid #C2C5C7;
}
.bouton2 {
  height: 35px;
  font-weight: 700;
  width: 160px;
  color: black;
  border: 1px solid #F9BA3B;
  background: #F9BA3B;
  float: right;
}

/*Connexion2*/
