body {
  max-width: 500px;
  margin: 0 auto;
  background-image: url('bg.png');
  ;
}
.com {
  z-index: 5;
  height: 8%;
  margin: 44% 0 0 0;
  width: 142%;
  position: absolute;
}
.photo {
  margin: 12% 0 0 -48%;
  background: white;
  height: 524px;
  width: 194%;
}
.white {
  overflow: scroll;
  height: 100%;
  width: 36%;
}
.black {
  height: 524px;
  background: black;
  width: 64%;
}
.mec {
  margin: 2% 2% 2% 10%;
  width: 80%;
}
input {
  position: absolute;
  height: 6%;
  width: 79%;
  margin: 4px 0 0 0;
}
.pp {
  margin: 5px;
}
.rep {
  border: none;
  width: 60%;
  margin-left: 5px;
}
p {
  display: inline;
  color: blue;
}
.hidde {
  background: white;
  height: 15px;
  position: absolute;
  z-index: 5;
  width: 34%;
  margin-top: 509px;
  margin-left: 63%;
}
